body{
   font-family:Arial, Helvetica, sans-serif;
}
.displayTravel{
   display: block;
}

.bold{
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
}

.grey{
   color:grey;
   font-family:Arial, Helvetica, sans-serif;
}

.blue{
   color: blue;
   font-family:Arial, Helvetica, sans-serif;
}

.red{
   color: red;
   font-family:Arial, Helvetica, sans-serif;
}
.green{
   color:green;
   font-family:Arial, Helvetica, sans-serif;
}
.light-green{
   color: rgb(78, 233, 78);
}
.font{
   font-family: Arial, Helvetica, sans-serif;
}
.deepGreen{
   color: rgba(54, 97, 54, 0.479);
   font-family:Arial, Helvetica, sans-serif;
}
.statusTicket{
   color: rgb(32, 32, 237);
   font-family:Arial, Helvetica, sans-serif;
}
.table-header {
   font-family:Arial, Helvetica, sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media screen and (max-width: 960px) {
      align-items: start;
   }
}

.product-image {
   width: 50px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-dialog .product-image {
   width: 50px;
   margin: 0 auto 2rem auto;
   display: block;
}

.confirmation-content {
   display: flex;
   align-items: center;
   justify-content: center;
}
.btn-delete, .btn-edit{
   background: none;
   color: black;
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}
.btn-delete:hover{
   background: red;
   color: #fff;
}
.btn-edit:hover{
   background: blue;
   color: #fff;
}
/*@media screen and (max-width: 960px) {
::v-deep(.p-toolbar) {
   flex-wrap: wrap;

   .p-button {
      margin-bottom: 0.25rem;
   }
}
}*/
